<div class="section__content" [formGroup]="group">
  @for (row of block.rows; track row.num) {
  <div class="field-grid">
    @for (field of row.fields; track field.name) {
    <div class="field-col" [style.gridColumn]="'span ' + field.colSpan">
      @switch (field.displayType) {
      @case ('textarea') {
      <app-field-textarea [field]="field" [control]="ctrl(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('select') {
      <app-field-select [field]="field" [control]="ctrl(field.name)" [options]="opts(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('multiselect') {
      <app-field-multiselect [field]="field" [control]="ctrl(field.name)" [options]="opts(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('checkbox-grid') {
      <app-field-pill-multiselect [field]="field" [control]="ctrl(field.name)" [options]="opts(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('array-checkbox-grid') {
      <app-field-pill-multiselect [field]="field" [control]="ctrl(field.name)" [options]="opts(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('file') {
      <app-field-file [field]="field" [control]="ctrl(field.name)" [blockCode]="block.code" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('opening-hours') {
      <app-field-opening-hours [field]="field" [control]="ctrl(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('opening-hours-flexible') {
      <app-field-opening-hours-flexible [field]="field" [control]="ctrl(field.name)" [optionSets]="block.optionSets || {}" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('location-map') {
      <app-field-location-map [field]="field" [coordsControl]="ctrl(field.name)" [addressControl]="ctrl('direccion')" [blockName]="block.title" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('domain-option') {
      <app-field-domain-option [field]="field" [control]="ctrl(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('pill-multiselect') {
      <app-field-pill-multiselect [field]="field" [control]="ctrl(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('productos-servicios') {
      <app-field-productos-servicios [field]="field" [formArray]="arr(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('phones') {
      <app-field-phone [field]="field" [formArray]="arr(field.name)" [optionSets]="block.optionSets || {}" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('checkbox') {
      <app-field-input [field]="field" [control]="ctrl(field.name)" [countryControl]="field.countryControlName ? ctrl(field.countryControlName) : undefined" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('url') {
      <app-field-url [field]="field" [control]="ctrl(field.name)" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('array-object') {
      <app-field-array-object [field]="field" [formArray]="arr(field.name)" [optionSets]="block.optionSets || {}" [readOnly]="readOnly || block.readOnly" />
      }
      @case ('array-primitive') {
      <app-field-array-primitive [field]="field" [formArray]="arr(field.name)" [options]="opts(field.name)" [blockCode]="block.code" [readOnly]="readOnly || block.readOnly" />
      }
      @default {
      <app-field-input [field]="field" [control]="ctrl(field.name)" [countryControl]="field.countryControlName ? ctrl(field.countryControlName) : undefined" [readOnly]="readOnly || block.readOnly" />
      }
      }
    </div>
    }
  </div>
  }
</div>
