<div class="field-wrapper">
  <label class="field-label" [for]="field.name">
    {{ field.label }}
    @if (field.required) { <span class="required">*</span> }
  </label>

  @if (!field.multiple) {
  <select class="field-control" [id]="field.name" [formControl]="control" [attr.required]="field.required ? '' : null"
    [attr.aria-required]="field.required" [attr.aria-invalid]="control.invalid && control.touched ? 'true' : null"
    [disabled]="readOnly"
    (blur)="markTouched()">
    <option value="">{{ emptyText }}</option>

    @for (opt of options; track trackByValue($index, opt)) {
    <option [ngValue]="opt.value">{{ opt.label }}</option>
    }
  </select>
  }

  @if (field.multiple) {
  <select class="field-control" [id]="field.name" multiple [formControl]="control"
    [attr.required]="field.required ? '' : null" [attr.aria-required]="field.required"
    [disabled]="readOnly"
    [attr.aria-invalid]="control.invalid && control.touched ? 'true' : null" (blur)="markTouched()">
    @for (opt of options; track trackByValue($index, opt)) {
    <option [ngValue]="opt.value">{{ opt.label }}</option>
    }
  </select>
  }

  @if (field.placeholder) {
  <p class="help">{{ field.placeholder }}</p>
  }

  @if (control.touched && control.hasError('required')) {
  <small style="color:#ef4444">Este campo es obligatorio.</small>
  }
</div>
