@use './styles/theme.tokens.scss';
@use './styles/status-badges.scss';
@import 'sweetalert2/dist/sweetalert2.min.css';


/* Quita el @import de Google Fonts */
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/inter/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light;
  background-color: var(--bg-app);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: radial-gradient(circle at 20% 20%, rgba(67, 56, 202, 0.05), transparent 28%),
    radial-gradient(circle at 80% 10%, rgba(14, 165, 233, 0.06), transparent 30%),
    var(--bg-app);
  min-height: 100vh;
  color: var(--text-base);
}

.app-shell {
  min-height: 100vh;
}
.pac-container {
  z-index: 99999 !important;
}
